/* for the navbar menu ============== */

a:link {
    text-decoration: none;
    color: #000;
}



a:visited {
    text-decoration: none;
    color: none;
}

a:hover {
    text-decoration: none;
    color: none;
}

a:focus {
    text-decoration: none;
    color: none;
}

a:hover, .navBtn:active {
    text-decoration: none;
    color: none;
}

.navbar {
    overflow: hidden;
    background-color: black;
    font-family: 'poppins', sans-serif;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
}

    .navbar a {
        float: left;
        font-size: 16px;
        color: lightpink;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: red;
    }

.navbar-right {
    float: right;
}


.dropdown-content {
    display: none;
    z-index: 5;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    align-content: center;
    height: 55px;
    width: 70px;
    margin: 0;
}

/*end navbar menu ================ */


/*start of banner header =========== */

.wallpaper-container {
    position: relative;
    text-align: center;
    color: white;
}

.wallpaper {
    filter: brightness(0.5);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'poppins', sans-serif;
    color: white;
}


/*end of banner header =========== */



/* start of auto slide show of photos */


* {
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
}

.mySlides {
    display: none;
}




img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.bannertext {
    color:white;
    
    font-size:30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

        -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
        animation: mymove 5s infinite;
    }
    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes mymove {
        50% {text-shadow: 10px 20px 30px lightpink;}
    }
    
    /* Standard syntax */
    @keyframes mymove {
        50% {text-shadow: 10px 20px 30px lightpink;}
    
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.text2 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    height:200px;
    text-align: center;
    display:block;
}

.amenities-images {
    filter: brightness(0.5);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}





/* end of auto slide show of photos */



/* start of  search bar*/


.searchbar {
    background-image: url("11.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
/* Style the tab */





.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: lightpink;
    width: 50%;
}

#Flight, #Hotel, #Packages {
    width: 50%;
    text-align: left;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: pink;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: red;
        color: pink;
    }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.searchnow {
    background-color: pink;
    font-family: 'poppins', sans-serif;
    border: none;
}

.purchasenow {
    background-color: pink;
    font-family: 'poppins', sans-serif;
    border: none;
    font-size:20px;
}


/* END of OUR search bar*/

/* start of Popular Destinations CSS*/

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 20px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* start of hover over Popular Packages Images*/
.column {
    position: sticky;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.column:hover .image {
    opacity: 0.3;
}

.column:hover .middle {
    opacity: 1;
}

.desc {
    background-color: lightpink;
    color: black;
    font-size: 15px;
    padding: 16px 32px;
}

.desc_text {
    font-size: 15px;
    text-align: justify;
}



/*About Menu below Homepage*/

.about_container {
    background-color: palevioletred;
    color: white;
    height: 300px;
    width: 100%;
    color: black;
}

.about {
    float: left;
    width: 50%;
    padding: 16px 32px;
    font-size: 12px;
}

.contactus {
    width: 33%;
    padding: 16px 32px;
    font-size: 12px;
    float: right;
}

.contactus-icons {
    height: 30px;
}


/* start of hotel pics */
* {
    box-sizing: border-box;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* end of hotel pics */

/* star rating of hotels */
.checked {
    color: orange;
}

/* Contact Us Text CSS*/

.contactus-container {
    height: 500px;
    background-image: url("11.png");
}


.contactus-text {
    float: left;
    margin: 50px;
    width: 40%;
}

.contactus-image {
    position: absolute;
    float: right;
    margin: 50px;
    width: 40%;
    opacity: 0.8;
}

/* About Us Text CSS*/

.aboutus-container {
    height: 500px;
    background-image: url("11.png");
}


.aboutus-text {
    float: left;
    margin: 50px;
    width: 40%;
}

.aboutus-text2 {
    float: right;
    margin: 50px;
    width: 40%;
}

.aboutus-image {
    position: absolute;
    float: right;
    margin: 50px;
    width: 40%;
    opacity: 0.8;
}

.aboutus-image2 {
    position: absolute;
    float: left;
    margin: 50px;
    width: 30%;
    opacity: 1;
}
/* TESTIMONIALS START HERE ============= */

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container2 {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-container3 {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.reviews {
    display: none;

}

.reviews2 {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }



/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot2 {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/*TESTIMONIALS END HERE ================= */


/* polaroids for packages start here ==== */

.polaroid {
    width: 30%;
    background-color: white;
    margin-bottom: 25px;
    margin-right:10px;
    margin-left:25px;
    border: 1px groove;
    float: left;
}

    .polaroid:hover  {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }




.polaroid-center {
    width: 60%;
    background-color: white;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 25px;
    border: 1px groove;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .polaroid-center:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.container {
    text-align: center;
    padding: 10px 20px;
}



/* polaroids for packages end here ======== */

/* START OF Timeline =================== */

* {
    box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: black;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

/* Container around content */
.bubble {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.bubble:hover  {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    /* The circles on the timeline */
    .bubble::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: black;
        border: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: black;
    position: relative;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    text-align: justify;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .bubble {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

        /* Make sure that all arrows are pointing leftwards */
        .bubble::before {
            left: 60px;
            border: medium solid black;
            border-width: 10px 10px 10px 0;
            border-color: transparent black transparent transparent;
        }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

.timeline-text-outside{

    margin: 10px;
    width: 60%;
    text-align: justify;
}

/*End of Timeline ========================== */


